<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% for(let i =0;i<completed.length;i++){ %>
      <p<%= completed[i].barista %> </p>
      <p><%= completed.order %> </p>
    <% } %>
  </body>
</html>
